body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
    padding: 0;
}
h1{
    font-size: 70px;
    
}
#sub{
    font-size: 40px;
}
    

p{
    font-size: 20px;
    
  
}


.background-text{
    color:white;
    text-align: center;
    position: center;
    width: 100%;
    padding: 100px;
    width: 100%;
}
.donate-button{
    text-decoration: none;
    background-color: brown;
    padding: 20px 30px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 100px;


}
.top-cover{
    background-image: url(images/donation.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#second{
    font-size: 40px;
    
}
#text{
    color: gray;
}
.second-part{
    text-align: center;
    position: center;
    width: 100%;
    padding-top: 100px;
    margin-bottom: 10px;
   
}
#same{
    text-decoration: none;
    padding: 40px 30px;
    background-color: rgb(248, 246, 242);
    color: rgb(53, 49, 49);
    font-size: 30px;
    font-weight: 900;
    margin-top: 100px;
}
 #two{
        text-decoration: none;
        padding: 40px 30px;
        background-color: pink;
        color: red;
        border-style:solid;
        font-size: 30px;
        font-weight: 900;
       margin-top: 100px;

}
#amount-text{
    margin-top: 100px;
}
    .line{
        border-bottom: 2px solid rgb(190, 188, 188);
        margin-top: 5px;
        width: 50%;
        position: center;
        margin: auto;
        
     
    }
    
    .plan-area{
        text-align: center;
         position: center;
        width: 100%;
       padding-top: 100px;
       margin-bottom: 10px;
    }
    .flexible-container{
        display: flex;
        margin-bottom: 150px;
    }
    .container-box1{
        background-color: #c8e7f3;
        text-align: justify;
        padding: 50px 30px;
        margin-left: 10%;
        
        
          }
     .container-box2{
        background-color: rgb(245, 233, 240);
        text-align: justify;
        padding: 50px 30px;
           
              }
   .container-box3{
    background-color: rgb(250, 247, 201);
    text-align: justify;
    padding: 50px 30px;
    margin-right: 10%;
        
      }
      .contribute-button{
        text-decoration: none;
        background-color: brown;
        padding: 20px 40px;
        color: white;
        font-weight: 600;
        border-radius: 10px;
        margin-top: 200px;

      }
      .half-width{
        width: 50%;
        padding-left: 10%;
        padding-right: 5%;

      }
      .half-width img{
        width:80%;

      }
      .update{
        text-align: center;
        position: center;
       width: 100%;
       margin-bottom: 50%;
       margin-bottom: 10px;
      }
      .subscribe-area{
        text-decoration: none;
        text-align: center;
        background-color:rgb(238, 203, 157);
        padding: 50px 30px;
        font-weight: 600;
        border-radius: 10px;
       }
       #email{
        text-decoration: none;
        text-align: left;
        background-color: gray;
        padding: 20px 200px;
        color: rgb(56, 52, 52);
        font-weight: 600;
        border-radius: 10px;

       }
       #subs{
        text-decoration: none;
        background-color: rgb(238, 62, 62);
        padding: 20px 40px;
        color: rgb(56, 52, 52);
        font-weight: 600;
        border-radius: 10px;


       }
      .end{
        margin-top: 100px;
        text-align: center;
        background-color: black;

    
      }
      #hum{
        text-decoration: wavy;
        color: brown;
        font-size: 30px;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      #do{
      color: rgb(250, 250, 240);
      }
    
    

    
